@import "styles.css";

.presshere {
    position: relative;
    z-index: 2;
    margin: auto;
    rotate: 15deg;
    top: 40px;
    left: -45px;
}

.logo {
    position: relative;
    transition: width 0.5s, height 0.5s;
    width: 30%;
    height: 30%;
}

.logo:hover {
    width: 31%;
    height: 31%;
}