body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(25, 25, 25);
    color: white;
}

mark {
    background-color: orange;
}

a:link {
    color: orange;
}

a:visited {
    color: orange;
}

a:hover {
    color: orangered;
}

a:active {
    color: rgb(255, 45, 0);
}